<!DOCTYPE html>

<head>
<link rel="stylesheet" href="/static/style.css"/>
</head>


<body>

     <div class="bar">
       {{if .Username}}
       <a href="/logout" class="bar-link" >logout</a>
       <p>WELCOME {{.Username}}</p>
       {{else}}
        <a href="/login" class="bar-link" >Login</a>
        <a href="/register" class="bar-link" >Register</a>
        {{end}}
    </div>
    <br>

    <a href="/addpost" >
         <button class="cretp">CREATE YOUR POST</button>
       </a>
    <div>
       
       {{range .}}
       <div>
        <h2>{{.Title}}</h2>
         <pre>{{.Content}}</pre>
       </div>
       <hr>
       {{else}}
               <p>No posts found.</p>
       {{end}}

    </div>


</body>